
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/Wallpapers 1920x1080.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*TODO rename to match outer most div for content*/
main {
    flex: 1 0 auto;
}

#app{
    height: 100vh;
}

/*=================Header.jsx=====================*/
.brand-logo {
    color: black !important;
}

#header{
    padding:10px;
}

.nav-wrapper, nav{
    background-color: powderblue;
}

/*===============================================*/


#content{
    min-height:100%;
    position:relative;
}

    /*=================Registration.jsx=====================*/
::placeholder{
    color: black;
}

#registration-header{
    font-size: 1.92rem;
    margin:0;
    padding:0;
    height:100%;
}

#registration-div{
    background-color: powderblue;
    color: black;
    margin-top: 10%;
    padding: 10px 0;
}

/*======================================================*/



/*=================Footer.jsx=====================*/

#footer{
    background-color: powderblue;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    position:absolute;
    bottom:0;
    height:60px;   /* Height of the footer */
}

/*================================================*/




@media only screen and (max-width:1000px){
    #registration-header{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width:700px){
    #registration-div{
        margin-top: 17%;
    }
}

@media only screen and (max-width:600px){
    nav .brand-logo{
        font-size: 1.75rem;
    }

}
