
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/Wallpapers 1920x1080.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*TODO rename to match outer most div for content*/
main {
    flex: 1 0 auto;
}

#app{
    height: 100vh;
}

select[name="option"]{
    display: inline;
}

::placeholder{
    color: black;
}

/*=================Header.jsx=====================*/
.brand-logo {
    color: black !important;
}

/*#header{*/
    /*padding:10px;*/
/*}*/

.nav-wrapper, nav{
    background-color: powderblue;
}

/*===============================================*/


@media only screen and (max-width:1000px){
    #registration-header{
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 992px) {
    .material-icons {
        display: none !important;
    }
}

@media only screen and (max-width:700px){
    #registration-div{
        margin-top: 17%;
    }
}

@media only screen and (max-width:600px){
    nav .brand-logo{
        font-size: 1.75rem;
    }

}
